@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: linear-gradient(hsl(144, 38%, 76%), hsl(0, 0%, 98%));
    background-repeat: no-repeat;
    font-family: 'Mukta', sans-serif;
}

.page-icons {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(39deg) brightness(101%) contrast(101%);
}

.pg-icon:hover,
.page-icons:hover {
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(39deg) brightness(0%) contrast(101%);
}